<li id="lang-{{id}}" class="lang-blob">
	<div class="lang-title">
		<img src="static/icons/{{icon}}" />
		<h3>{{name}}</h3>
		<div class="lang-level">
			<h4>{{level}}</h4>
			<div>Level</div>
		</div>
		<img class="close" src="static/icons/close.svg" />
	</div>
	<hr />
	<div class="lang-description">
		{{{description}}}
		<ul class="lang-modules">
			{{#each modules}}
			<li>
				<img src="static/icons/{{icon}}" title="{{name}}" />
				<div>{{name}}</div>
			</li>
			{{/each}}
		</ul>
	</div>

</li>