<li id="lang-{{id}}" class="lang-blob">
	<div class="lang-title">
		<img src="static/icons/{{icon}}" />
		<h3>{{name}}</h3>
	</div>
	<hr />
	<div class="lang-description">
		{{{description}}}
		<ul class="lang-modules">
			{{#each modules}}
			<li>
				<img src="static/icons/{{icon}}" title="{{name}}" />
				<div>{{name}}</div>
			</li>
			{{/each}}
		</ul>
	</div>

</li>