<html lang="{{language}}">

<head>
    <title>{{name}}</title>
    <meta charset="UTF-8">
    <meta name="author" content="{{name}}">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{name}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cv.danielgrants.com/{{language}}/" />
    <meta property="og:image" content="https://cv.danielgrants.com/olti-dark.png" />
    <meta property="og:description" content="{{description}}" />
    <style>section.ds-parent{display:none}</style>
</head>

<body>
    <section class="ds-parent">
        <div id="slide-container" class="ds-container">
            {{> cover}}
            {{> career}}
            {{> langs}}
            {{> projects}}
            {{> contact}}
        </div>
    </section>
</body>

</html>