<li id="lang-{{id}}" class="lang-blob">
    <div class="lang-title">
        <img  class="icon" src="{{icon}}" alt="{{name}}"/>
        <h3>{{name}}</h3>
        <div class="lang-level">
            <h4>{{level}}</h4>
            <div>Level</div>
        </div>
        <img class="close" src="/icons/close.svg" />
    </div>
    <hr />
    <div class="lang-description">
        {{{description}}}
        <ul class="lang-modules">
            {{#each modules}}
            {{> icon }}
            {{/each}}
        </ul>
    </div>

</li>
