<li class="project-card">
    <div class="project-cover">
        <picture>
            <source srcset="/{{cover.webp}}" type="image/webp">
            <source srcset="/{{cover.png}}" type="image/png">
            <img src="/{{cover.png}}" alt="{{name}}">
        </picture>
        {{> to-url }}
    </div>
    <div class="project-details">
        <h3>{{name}}</h3>
        <span class="project-client">for <a href="{{client.url}}" target="_blank" rel="noopener">{{client.name}}</a></span>
        <ul class="project-details-list">
            {{#each details}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <ul class="project-langs">
            {{#each languages}}
            {{> icon }}
            {{/each}}
        </ul>
        {{> to-url }}
    </div>
</li>
